@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


.max__w__720{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 30px;
}
.max__w__1200{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.about__biz h1{
    font-family: 'Inter';
    font-style: normal;
    margin-top: 60px;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
}
.about__biz p{
    font-family: 'Inter';
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #020105;
    opacity: 0.56;
}
.about__biz p:last-child{
    margin-top: 20px;
}
.about__vidio__div{
    min-height: 350px;
    margin-top: 50px;
}


.out__about{
    margin-top: 100px;
}
.out__about h2{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;    
}
.out__about p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-transform: capitalize;
    color: #020105;
    opacity: 0.64;

}
.about__grid__card{
    margin-top: 100px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }
    
    .div1 {
         grid-area: 1 / 1 / 2 / 2; 

        }
    .div2 {
         grid-area: 2 / 1 / 3 / 2; 
        }    
    .div6 {
         grid-area: 1 / 2 / 3 / 3; 
        }

   .about__grid__card__two__first__h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
   }   
   .about__grid__card__two h6{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #020105;
        opacity: 0.56;
   } 
  .about__grid__card__two h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
  }
  .about__grid__card__two p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #020105;
    opacity: 0.56;
  }




/* MEDIA QUERY */
@media(max-width:1049px) {
    .about__grid__card__two__first__h2{
        font-size: 27px;
        line-height: 40px;
   }   
   .about__grid__card__two h6{
        font-size: 13px;
        line-height: 22px;
   } 
  .about__grid__card__two h2{
        font-size: 37px;
        line-height: 50px;
  }
  .about__grid__card__two p{
        font-size: 12px;
        line-height: 20px;
   
  }

}

@media(max-width:856px){
    .about__grid__card__two__first__h2{
        font-size: 24px;
        line-height: 35px;
   }   
   .about__grid__card__two h6{
        font-size: 12px;
        line-height: 20px;
   } 
  .about__grid__card__two h2{
        font-size: 28px;
        line-height: 40px;
  }
  .about__grid__card__two p{
        font-size: 11px;
        line-height: 20px;
   
  }
}
@media(max-width:817px){
    .about__gridDiv{
        grid-template-columns: repeat(1,1fr);
    }
    .parent{
        height: 300px;
    }
    footer{
        margin-top: 430px !important;
    }
    .million__numberDiv{
        margin-top: 26px !important;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .million__numberDiv h2,p{
        text-align: center;
    }
}
@media(max-width:815px){
    .million__numberDiv{
        margin-top: 26px !important;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        margin-top: 470px !important;
    }
}




  @media(max-width:800px){
      .about__biz{
          display: flex ;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
    .about__biz h1{
        margin-top: 20px;
        font-size: 28px;
        line-height: 40px;
    }
    .about__biz p{
        font-family: 'Inter';
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: justify;
        color: #020105;
        opacity: 0.56;
    }
    .about__biz p:last-child{
        margin-top: 20px;
    }

    .out__about h2{
        font-size: 25px;
        line-height: 38px;  
    }
    .out__about p{
        font-size: 14px;
        line-height: 25px;
        
    }


  }

  @media(max-width:691px){
    .about__vidio__div  {
        min-height: 270px;
    }
    .about__vidio__div video {
        padding: 0px 30px;
    }
    .out__about__gridDiv{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media(max-width:574px){
    footer{
        margin-top: 570px !important;
    }
  }

  @media(max-width:451px){
    .out__about h2{
        font-size: 21px;
        line-height: 34px;  
    }
    .out__about p{
        font-size: 12px;
        line-height: 23px;
        
    }   
    .million__numberDiv{
        margin-top: 26px !important;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    footer{
        margin-top: 745px !important;
    }
  }


  @media(max-width:347px){
    .out__about h2{
        font-size: 18px;
        line-height: 30px;  
    }
    .out__about p{
        font-size: 10px;
        line-height: 21px;
        
    }  
    .out__about__gridDiv svg{
        width: 25px !important; 
        height: 30px !important;
    }
    .out__about__imgDiv{
        height: 280px !important;

    }
    .parent{
        height: 200px;
    }
    footer{
        margin-top: 822px !important;
    } 
     
  }
