@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.max__w{
    max-width: 1340px;
    margin: 0 auto;
  }

.ul__links a{
    color: white !important;
}
.footer__logo__imgDiv{
    width: 70px !important;
    height: 75px !important;
}
.grid__bg__mebel{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 450px;
}
.grid__wordDiv{
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(54px);
    color: white;
    border-radius: 2px;
}
.grid__wordDiv h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.yotoq__sarlavha{
    font-family: 'Inter';
    margin: 20px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

@media(max-width:1371px){
    .max__w{
        max-width: 1240px;
        margin: 0 auto;
      }    
}

@media(max-width:1275px){
    .max__w{
        max-width: 1140px;
        margin: 0 auto;
      }    
}

@media(max-width:1192px){
    .max__w{
        max-width: 1000px;
        margin: 0 auto;
      }    

}
@media(max-width:1056px){
    .max__w{
        max-width: 910px;
        margin: 0 auto;
      }    
    
}
@media(max-width:955px){
    .max__w{
        max-width: 810px;
        margin: 0 auto;
      }  

}
@media(max-width:854px){
    .max__w{
        max-width: 710px;
        margin: 0 auto;
      }
      .grid__bg__mebel{
        height: 400px;
    }    
}
@media(max-width:787px){
    .max__w{
        max-width: 630px;
        margin: 0 auto;
      } 
    .yotoqxona__grid{
     display: flex !important;
     flex-direction: column !important;
    }
  
}
